.mat-toolbar {
    padding: 20px 10px;
    color: #fff;
    background-color: #666633;
}

img {
    height: 80px;
}

.center-content{
    padding-left: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}