<mat-card>
    <div>
        <form [formGroup]="studyLinkForm" class="form-inline">
            <h2>Adicione as informações do artigo:</h2>
            <div class="example-container">
                <mat-form-field>
                    <input matInput formControlName="title" placeholder="Título">
                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="url" placeholder="Url">
                </mat-form-field>

                <mat-form-field class="example-chip-list">
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let category of categories" [selectable]="selectable" [removable]="removable" (removed)="remove(category)">
                            {{category}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Categorias" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                </mat-form-field>
            </div>
        </form>
    </div>
    <button mat-raised-button (click)="onClick()">Salvar</button>
</mat-card>